.main {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.invert {
  transform: scaleX(-1);
}

.camera {
  // display: flex;
  // flex-direction: column;
}

.cameraFeedContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}