.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    display: grid;
    place-items: center;
}

.active {
    width: 50%;
    height: 50%;
    background-color: rgb(9, 9, 130);
    border-radius: 20%;
    transition:  0.5s ease-out;

}

.inactive {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(9, 9, 130);
    transition:  0.5s ease-out;
}

