.cameraWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 854px;
    height: 480px;
    
    @media (max-width: 600px) {
        width: 100vw;
        height: 75vh;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.buttonWrapper {
    position: absolute;
    bottom: 1em;
}